@tailwind base;
 @tailwind components; 
 @tailwind utilities;

 #icons{
    display:none;
 }

 #product-box:hover{
    #icons{
        display:flex !important;
    }
 }

 section {
   scroll-margin-top: 80px; /* Adjust based on your navbar height */
 }
 
